---
layout: page
title: News
---

{% for post in paginator.posts %}
  <div class="ui fluid card">
    <div class="content">
      <div class="header"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
      <div class="meta"><a href="/archives/">{{ post.date | date: "%b %-d, %Y" }}</a></div>
      <div class="description">
        {{ post.content | truncatewords:100 }}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <a href="{{ post.url | prepend: site.baseurl }}">READ MORE</a>
      </span>
    </div>
  </div>
{% endfor %}

<div class="ui center aligned basic segment">
{% if paginator.total_pages > 1 %}
<div class="ui borderless pagination menu">
  {% if paginator.previous_page %}
    <a class="item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      <i class="left arrow icon"></i> Previous
    </a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a class="active item">{{ page }}</a>
    {% elsif page == 1 %}
      <a class="item" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}


  {% if paginator.next_page %}
    <a class="item" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      <i class="right arrow icon"></i> Next
    </a>
  {% endif %}
</div>
{% endif %}
</div>
