<div class="ui social segment">
  <div class="ui stackable left aligned page grid">
    <div class="row">
      <div class="column">
        <a href="https://www.facebook.com/PurnataOrg">
          <div class="ui circular facebook icon button">
            <i class="facebook icon"></i>
          </div>
        </a>
        <a href="https://www.twitter.com/PurnataOrg">
          <div class="ui circular twitter icon button">
            <i class="twitter icon"></i>
          </div>
        </a>
        <a href="https://plus.google.com/+PurnataIndia">
          <div class="ui circular google plus icon button">
            <i class="google plus icon"></i>
          </div>
        </a>
        <a href="https://www.youtube.com/user/PurnataOrg">
          <div class="ui circular youtube icon button">
            <i class="youtube icon"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
