<!DOCTYPE html>
<html>
  {% include head.html %}

  <body id="home">
    <div class="ui masthead segment">
      <div class="ui page grid">
        <div class="column">

          {% include menu.html %}

          <div class="ui hidden transition information">
            <h1 class="ui header">
              A Holistic Effort<br/>to address<br/>Human Trafficking.
            </h1>
            <p>Ensure dignity, respect, rights and education to the trafficked and vulnerables.</p>
            <a href="/about">
              <div class="large animated fade ui button">
                <div class="visible content">Learn More</div>
                <div class="hidden content">Build Awareness</div>
              </div>
            </a>
            <a href="https://purnata.ketto.org/contribute/contribute.php?fmd_id=26064" target="_blank">
              <div class="large animated fade ui red button">
                <div class="visible content">Donate</div>
                <div class="hidden content">@Ketto</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui social segment">
      <div class="ui stackable left aligned page grid">
        <div class="row">
          <div class="column">
            <a href="https://www.facebook.com/PurnataOrg">
              <div class="ui circular facebook icon button">
                <i class="facebook icon"></i>
              </div>
            </a>
            <a href="https://www.twitter.com/PurnataOrg">
              <div class="ui circular twitter icon button">
                <i class="twitter icon"></i>
              </div>
            </a>
            <a href="https://plus.google.com/+PurnataIndia">
              <div class="ui circular google plus icon button">
                <i class="google plus icon"></i>
              </div>
            </a>
            <a href="https://www.youtube.com/user/PurnataOrg">
              <div class="ui circular youtube icon button">
                <i class="youtube icon"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical feature segment">
      <div class="ui centered page grid">
        <div class="fourteen wide column">
          <div class="ui three column center aligned stackable divided grid">
            <div class="column">
              <div class="ui icon header">
                <i class="dont icon"></i>
                Prevention
              </div>
              <p>
                Involve in preventive aspects of Human Trafficking, including early intervention,
                and rescue.
              </p>
              <p>
                <a class="ui button" href="/about#objectives">
                  Participate
                </a>
              </p>
            </div>
            <div class="column">
              <div class="ui icon header">
                <i class="announcement icon"></i>
                Awareness
              </div>
              <p>
                Build awareness in the society to sensitize to the issue and activities related to
                human trafficking.
              </p>
              <p>
                <a class="ui button" href="/about#objectives">
                  Learn
                </a>
              </p>
            </div>
            <div class="column">
              <div class="ui icon header">
                <i class="student icon"></i>
                Research
              </div>
              <p>
                Research on the patterns, factors, sources and root causes of human trafficking to
                address it holistically.
              </p>
              <p>
                <a class="ui button" href="/about#objectivest">
                  Contribute
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
