---
layout: master
---

<h4>{{ page.title | upcase }}</h4>
<small>
  <a class="ui small text" href="/archives/">{{ page.date | date: "%B %-d, %Y" }}</a>
</small>

<div class="ui stacked segment">
  {{ content }}
</div>

<div class="ui basic segment">
  <span><i class="clock icon"></i>{{ page.date | date: "%b %-d, %Y" }}</span>
  &emsp;
  {% if page.author %}
    <span><i class="write icon"></i>{{ page.author }}</span>
  {% endif %}
  &emsp;
  {% if page.categories %}
    <span><i class="bookmark icon"></i>{{ page.categories | array_to_sentence_string }}</span>
  {% endif %}
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'purnata';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
